@import "variables.scss";

.App {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: linear-gradient(140deg, $secondarColor 13%, #000000 13%, #000000 82%, $secondarColor 82%);
    .Logo {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 740px) {
    .App {
        .Logo {
            bottom: 10px;
            right: 10px;
            height: 40px;
            width: 40px;
        }
    }
}