.MoviesList {
    width: 100%;
    font-family:  $mainFont;
    @include flex(center, center);
    margin-top: 60px;
    padding-top: 60px;
    min-height: 90vh;
    color: #fff;
    .ant-col {
        margin: 10px 0;
    }
    .CardWrapper {
        height: auto;
        margin-bottom: 40px;
        .CardImg{
            width: 100%;
            height: auto;
            img {
                width: 60%;
                height: auto;
            }
            img:hover {
                box-shadow: 0px 0px 8px 5px $mainColor;
            }
        }
        .CardDes {
            width: 100%;
        }

        .CardDes p {
            @include flex(space-between, center);
            font-size: 16px;
            font-weight: 600;
            margin: 0 10px 0 0;
        }
    }
    .NotFoundOrSearch {
        font-size: 30px;
    }
    .ant-pagination {
        bottom: 10px;
        position: relative;
        width: 100%;
        height: 60px;
        text-align: center;
    }
    .ant-pagination-item, .ant-pagination-item-link {
        background: $mainColor;
        font-size: 16px;
        color: #fff;
        a {
            color: #fff;
            font-weight: 800;
        }
    }
    .ant-pagination-item-active {
        font-weight: 800;
        border: 2px solid $mainColor;
        background: #000;
        a {
            color: $mainColor;
        }
    }
}

@media (max-width: 740px) {
    .MoviesList {
        margin: 60px auto 60px auto;
        .ant-col {
            margin: 10px 0;
        }
        .CardWrapper {
            width: 80%;
            height: auto;
            .CardImg{
                width: 100%;
                margin: 0 auto;
                img {
                    width: 80%;
                    margin: 20px 10%;
                    height: auto;
                }
            }
            .CardDes {
                width: 80%;
                margin: 0 auto;
                font-size: 20px;
                font-weight: 800;
            }
    
            .CardDes p {
                @include flex(space-between, center);
                font-size: 18px;
                margin: 0 6px 10px 0;
            }
        }
        .NotFoundOrSearch {
            margin-top: 60px;
            font-size: 20px;
            text-align: center;
        }
        .ant-pagination {
            position: relative;
            margin-top: 20px;
        }
    }
}