@import "variables.scss";
@import "mixins.scss";

.MoviesList {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    min-height: 90vh;
    .ant-col {
        margin: 10px 0;
    }
    .CardWrapper {
        height: auto;
        margin-bottom: 40px;
        .CardImg{
            width: 160px;
            margin: 0 auto;
            img {
                width: 120px;
                height: auto;
                width: 160px;
                height: auto;
            }
            img:hover {
                border: 2px solid $gold;
                cursor: pointer;
            }
        }
        .CardDes {
            width: 160px;
            margiN: 0 auto;
        }

        .CardDes p {
            @include flex(space-between, center);
            padding-top: 6px;
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }
    .NotFoundOrSearch {
        color: #fff;
        font-size: 30px;
    }
    .ant-pagination {
        bottom: 10px;
        position: relative;
        width: 100%;
        height: 60px;
        text-align: center;
    }
    .ant-pagination-item, .ant-pagination-item-link {
        background: $mainColor;
        font-size: 16px;
        color: #fff;
        a {
            color: #fff;
            font-weight: 800;
        }
    }
    .ant-pagination-item-active {
        font-weight: 800;
        background: #fff;
        border: 2px solid $mainColor;
        background: #000;
        a {
            color: $mainColor;
        }
    }
}

@media (max-width: 740px) {
    .MoviesList {
        margin: 60px auto 60px auto;
        .ant-col {
            margin: 10px 0;
        }
        .CardWrapper {
            width: 100px!important;
            height: auto;
            .CardImg{
                width: 160px;
                margin: 0 auto;
                img {
                    width: 160px;
                    height: auto;
                    width: 160px;
                    height: auto;
                }
                img:hover {
                    border: 2px solid $gold;
                    cursor: pointer;
                }
            }
            .CardDes {
                width: 160px;
                margiN: 0 auto;
            }
    
            .CardDes p {
                @include flex(space-between, center);
                font-size: 14px;
                color: #fff;
                margin: 0;
            }
        }
        .ant-pagination {
            bottom: 10px;
            position: fixed;
            width: 100%;
            height: 60px;
            text-align: center;
        }
        .ant-pagination-item, .ant-pagination-item-link {
            background: $mainColor;
            font-size: 16px;
            color: #fff;
            a {
                color: #fff;
                font-weight: 800;
            }
        }
        .ant-pagination-item-active {
            font-weight: 800;
            background: #fff;
            border: 2px solid $mainColor;
            background: #000;
            a {
                color: $mainColor;
            }
        }
    }
    
}