.Specific {
    width: 60%;
    font-family: $mainFont;
    min-height: 70vh;
    margin: 60px auto 0 auto;
    padding-top: 120px;
    color: #fff;
    img {
        width: 95%;
        height: auto;
        border-radius: 6px;
    }
    h1 {
        margin: 2px 10px 0 0;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    p {
        font-size: 12px;
        margin: 0;
        max-width: 400px;
        text-align: justify;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 2px 0;
        color: #fff;
    }

    .Others {
        font-size: 10px;
    }
}

@media (max-width: 1040px) {
    .Specific {
        width: 80%;
        margin: 60px 10%;
        .SpecificTitle {
            margin-top: 30px;
        }
        img {
            width: 100%;
        }
        .Others {
            font-size: 10px;
        }
        h1 {
            margin: 4px 10px 0;
        }
    }
}