
.Specific {
    width: 80%;
    margin: 60px auto 0 auto;
    color: #fff;
    img {
        width: 95%;
        height: auto;
        border-radius: 6px;
    }
    h1 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    p {
        font-size: 12px;
        margin: 0;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 2px 0;
        color: #fff;
    }

    .Others {
        font-size: 10px;
    }


}