@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

$mainFont: 'Inter', sans-serif;
$gold: #e4dc00;
$mainColor: #00cded;
$secondarColor: #045f6e;
$mainGradient:  linear-gradient(90deg, $secondarColor 0%, $mainColor 100%);
